{% extends 'layout.html' %} {% block content %}
<h1>Log in</h1>
<form action="/" method="post" class="box">
  <div class="input__wrapper">
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Username"
      class="input__field"
      pattern="\w{3,16}"
      required
    />
  </div>
  <div class="input__wrapper">
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      class="input__field"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-])[A-Za-z0-9!@#$%^&*_=+-]{8,16}$"
      required
    />
  </div>
  <div class="input__wrapper">
    <input type="submit" class="btn" value="Log In" />
  </div>
</form>
<!-- User message -->
{% if msg %}
<div>{{ msg|safe }}</div>
{% endif %}
{% endblock %}
